
html,
body{
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #bbbbbb;
}

th, td, table {
	background-color: white;
	color: black;
}

.loginOkno{
	margin: auto;
	background-color: whitesmoke;
	margin-top: 20px;
	padding: 10px;
	border: 2px solid whitesmoke;
	border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn{
	background-color: #53B3D4;
	color: white;
	font-weight: bold;
	margin-top: 10px;
}

#map{
	border: 5px solid #212529;
	border-radius: 5px;
	height: 700px;
	width: 80%;
	margin-top: 50px;
	margin-left: auto;
	margin-right:auto;
	margin-bottom: 50px;
}





.btn{
	background-color: #212529;
}

.btn:hover{
	color: lightgrey;
}

.okoliTabele{
	width: 80%;
	border: 5px solid #212529;
	border-radius: 5px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}


.navbar{
	padding-left: 20px;
}