html,body{
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}
.loginOkno{
	background-color: whitesmoke;
	margin-top: 20px;
	padding: 10px;
	border: 2px solid whitesmoke;
	border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	
	
}


#floating-panel{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}


#map{
	border: 2px solid #07011A;
	border-radius: 5px;
	height: 700px;
	width: 80%;
	margin-top: 10px;
	margin-left: auto;
	margin-right:auto;
	margin-bottom: 50px;
}


.nav-item{
	font-size: 14pt;

}


.btn{
	color: white;
	font-weight: bold;
	background-color: #235DF5;
	
}


.btn:hover{
	background-color: #DA1458;
	color: white;
}

form{
	padding-left: 0!important;
}


.okoliTabele{
	width: 80%;
	
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}


.navbar{
	padding-left: 20px;
}

.bg-dark{
	background-color: #235DF5!important;
}

.navbar-brand{
	font-weight: bolder;
	font-size: 36pt;
}

#risi{
	background-color: #235DF5;
	margin-bottom: 5px;
}
#risi:hover{
	background-color: #DA1458;
	color: white;
}

.intr{
	
	font-weight: bold;
	color: #DA1458;
}

.cell{
	font-weight: bold;
	font-size: 14pt;
}

/* For mobile phones: */
[class*="col-"] {
	width: 100%;

  }

  
  @media only screen and (min-width: 1150px) {
	/* For desktop: */
	.col-1 {width: 8.33%;}
	.col-1_5 {width: 12.5%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}


	.table {display:table!important;}
	.row { display:table-row!important;}
	.cell {display:table-cell!important;}

	.row>* {

		width: auto;

	}


  }